#nav{
    width:100%;
    padding-top:70px;
}
 #nav .nav_img img{
    width:100%;
  }
#section{padding:0 20px;}
#section .lf_list{
    margin:25px 0 0 0;
    float:left;
}
#section .left_list{
    width:260px;
    height:180px;
    border:1px solid #ff9fdc;
    background:#fff;
    border-radius:5px 5px 0 0;
}
#section .left_list h3{
    height:30px;
    background:#ff9fdc;
    line-height:30px;
    padding-left:10px;
}
#section .left_list ul li{
    border-bottom:1px solid #ddd;
    height:50px;
    font-size:14px;
    line-height:65px;
    width:260px;
    float:left;
    text-align: center;
}
#section .left_list ul li a,
#section .section_main li a:hover{
    color:#666;
}
#section .left_list ul .curren{
    color:#333;
    font-weight:bold;
}
#section .left_list_t{
    width:260px;
    height:180px;
    border:1px solid #ff9fdc;
    background:#fff;
    border-radius:5px 5px 0 0;
    margin:30px 0;
}
#section .left_list_t h3,#section  .section_nav{
    height:30px;
    background:#ff9fdc;
    line-height:30px;
    padding-left:10px;
}
#section .left_list_t ul li{
    margin:18px 10px;
}
#section .section_right{
    margin: 20px 0 0 25px;
    border:1px solid #ff9fdc;
    width:710px;
    float:left;
    padding-bottom: 10px;
    border-radius:5px 5px 0 0;
}
#section  .section_nav li{
    float:left;
    margin-right:10px;
}
#section .img_list{
}
#section .img_list li{
    float:left;
    padding:10px;
    margin-right: 8px;
}
#section .img_list li img:hover{
    transform: scale(1.1);
    transition:all 0.5s linear;
    opacity: 0.6;
}
#section .img_list li p{
    margin-top:12px;
    text-align:center;
}
/*响应*/
@media(max-width:960px)
{
  /*详情页面*/
  #nav .nav_img{
    width:100%;
    height:120px;
  }
  #nav .nav_img img{
    width: 100%;
    height:100%;
  }
  #section{
    padding:0 15px;
  }
  #section .lf_list,
  #section .left_list ul,
  #section .left_list ul li,
  #section .section_right,
  #section .left_list,
  #section .left_list_t{
    width:100%;
  }
  #section .img_list,#section .img_list li{
    float:none;
    text-align:-webkit-center;
  }
  #section .section_right{
    height:auto;
    padding: 10px 0;
    margin:0;
  }
  .section_nav h3{display: none;}
}